* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: sf-pro-medium;
    src: url(/src/fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: sf-pro-bold;
    src: url(/src/fonts/SFPRODISPLAYBOLD.OTF);
}

.background {
    background-image: url('/src/img/macos-monterey-wwdc-21-stock-dark-mode-5k-6016x6016-5585.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html {
    overflow: hidden;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.top-menu {
    position: relative;
    height: 24px;
    left: 0px;
    right: 0px;
    top: 0px;
    overflow: hidden;
}

.blur {
    background: rgba(79, 79, 79, 0.2);
    backdrop-filter: blur(65px);
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    position: absolute;
}

.color-burn {
    z-index: 2;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    background: #8F8F8F;
    mix-blend-mode: color-burn;
    opacity: 0.2;
    position: absolute;
}

.content {
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    height: 24px;
    left: 12px;
    right: 12px;
    font-family: 'sf-pro-medium';
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.35px;
}

.time {
    box-sizing: border-box;
    display: inline;
    width: auto;
}

.left-side {
    display: flex;
    height: 24px;
}

.right-side {
    display: flex;
}

.app-name {
    font-family: 'sf-pro-bold' !important;
}

.content span {
    padding: 0 8px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.right-side span {
    padding: 4px;
}

.content span img {
    width: 28px;
    height: 24px;
    box-sizing: border-box;
    padding-top: 2px;
    left: calc(50% - 17.29px/2 - 0.36px);
    top: calc(50% - 12.49px/2 + 0.25px);
}

.apple-logo {
    display: flex;
    align-items: flex-end;
    width: 44px;
    height: 22px;
    box-sizing: border-box;
    height: auto;
}

.content span:hover {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(67.3803px);
    transition: 0.09s ease-in;
}

.content .right-side .date-and-time:hover {
    background: none;
}

.dock {
    display: flex;
    transform-origin: bottom;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: auto;
    height: 92px;
    left: 50%;
    transform: translate(-50%, 0) scale(0.7);
    padding: 0 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
}

.icons {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 24px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: auto;
}

.dock a {
    display: flex;
    align-items: center;
    height: auto;
    transition: 0.2s ease-in-out;
    width: auto;
}

.dock a:hover {
    transform: scale(1.4);
    padding: 0 10px 0 10px;
    transform-origin: bottom;
}

.dock a img {
    width: 66px;
    height: 66px;
    margin: 0;
    transition: 0.1s ease-in;
}

.icons a:nth-child(n+2) {
    margin-left: 15px;
}

.divider {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 15px 0 15px;
    height: 66px;
}

.context-list {
    position: absolute;
    background: #28282899;
    border: 0.5px solid #00000033;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    display: none;
    backdrop-filter: blur(50px);
}

.context-el {
    list-style: none;
    padding: 5px 0 5px 0;
    width: 100%;
    box-sizing: border-box;
    transition: 0s ease-in;
}

.context-el:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.context-el:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.context-el:hover {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(67.3803px);
    transition: 0.09s ease-in;
}

.context-el a {
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: #DFDEDF;
}

.context-menus {
    font-family: 'sf-pro-medium';
    font-size: 13px;
}


.context-menus p {
    width: 100%;
}

.context-divider {
    border-bottom: 1px solid#EBEBF52E;
    height: 1px;
    margin: 5px 0 5px 0;
}

.window {
    position: absolute;
    width: auto;
    height: auto;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15)) drop-shadow(0px 25px 30px rgba(0, 0, 0, 0.35));
}

.window-title {
    background: #1E1E1E;
    cursor: move;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.15), inset 0px -0.5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;
    height: 28px;
    display: flex;
    align-items: center;
    color: rgba(235, 235, 245, 0.6);
    font-family: 'sf-pro-bold';
}

.window-title span {
    width: auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
}

.window-title button {
    width: 12px;
    height: 12px;
    outline: none;
    border: none;
    border-radius: 50%;
}

.window-title button {
    margin: 8px 0 8px 8px
}

.close-app {
    background: #ED6A5F;
}

.hide-app {
    background: #F5BF4F;
}

.expand-app {
    background: #61C554;
}

.window-body {
    background: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(50px);
    border-radius: 0 0 10px 10px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.calculator-app .numbers {
    color: #DFDEDF;
    font-family: 'sf-pro-medium';
    text-align: center;
    padding: 2px;
}

.calculator-app .numbers td {
    width: 70px;
    height: 50px;
    background: #6D687B;
    font-size: 24px;
    white-space: nowrap;
}

.calculator-app .output {
    height: 70px;
}

.calculator-app .numbers td:last-child {
    background: #FC9E2A;
}

.calculator-app button {
    font-family: 'sf-pro-medium';
    outline: none;
    border: none;
    padding: 20px 30px 20px 30px;
}

.calculator-app .output {
    padding: 0 20px 0 20px;
    color: #DFDEDF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'sf-pro-medium';
    font-size: 28px;
}